nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #282c34;
    li {
        display: inline-block;
        font-weight: bold;
        margin: 15px 25px;
        a {
            color: #f2f2f2;
            text-decoration: none;
        }
        a:hover {
            color: #2fc02f;
        }
    }
}
