.aboutme {
    min-height: 140vh;
    margin-top: 24vh;
    .profile-image {
        border-radius: 100%;
        margin-bottom: 3px;
        width: 150px;
    }
    p {
        color: #000000;
        text-align: center;
        // margin-bottom: 5px;
    }
    h1 {
        font-size: 29px;
        text-align: center;
        // margin-bottom: 15px;
    }
}
.english {
    margin: 1.5em 0;
}
.whatToDo {
    margin: 1.5em 0;
    h1 {
        margin-bottom: 5px;
    }
}
